html, body {
/*overflow-y: hidden;*/

}

body 
{
    background-color: #343D46;
}

.navbar 
{
    background-color: #757B81; 
}


nav .navbar-brand
{
    font-size: xx-large;
}

nav span
{
    color:#C695C6;
}

img.logo
{
    width:64px;
    padding:5px;
}


main
{
    color: #D8DEE9;
}

h5 
{
    color: #EC5F66;
    font-weight: bold;
}



.chanel_name
{
    cursor: pointer;
}

.msg_count  {
    float: right;
}