html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

body 
{
	background-color: #343D46;
	min-height: 400px; 

}

.navbar 
{
	background-color: #757B81; 
}


nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

nav span
{
	color:#C695C6;
}

img.logo
{
	width:64px;
	padding:5px;
}


main
{
    color: #D8DEE9;
    min-height: 85%;
    height: 85%;
    overflow: hidden;	
}

/*#messages_list{
    min-height: 70%;
    height: 70%;
}*/

footer
{
    min-height: 5%;
    height: 5%;	
}

h5 
{
	color: #EC5F66;
	font-weight: bold;
}

.float-right
{
	width: 75%;
}

.float-left
{
	width: 25%;
}

.chanel_name, .message_block
{
	display: block;
}

.chanel_name
{
	cursor: pointer;
}

.msg_count  {
    float: right;
}