<!doctype html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        
        <link href="/static/styles.css" rel="stylesheet">
        <link href="/static/favicon.png" rel="icon">

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='quire.js') }}"></script>

    <title>Quire [CS50W Project 2]</title>


  </head>
<body>
<span hidden="true" id="server_reset">{{ reset_status }}</span>
<nav class="navbar border  navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
            <img class="logo img-thumbnail img-fluid" src="/static/logo.png" alt="logo">
            <span>Quire</span>
            </a>
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item text-light font-weight-bold" id="user_label">Hi! User</li>
                <li class="nav-item"><a class="nav-link" id="logout" href="">Log out</a></li>
            </ul>
</nav>

<main>
    <div class="clearfix border">
        <div class="float-left border">
            <nav class="navbar bg-light">
                <h5>CHANNELS</h5><button type="button" id="add_channel" class="badge badge-info badge-pill">ADD</button>
            </nav>
        </div>
        <div class="float-right border">
            <nav class="navbar bg-light">
                <h5 id="channel_caption">CHANNEL DETAILS</h5>
            </nav>
        </div>
    </div>
    
    
    <div id="right_block" class="d-md-flex" style="height: 80%;">
        <div id="channels_list" class="float-left overflow-auto p-2">

{%for channel in channels_list %}
            <span class="chanel_name p-1 mb-1 border rounded bg-light text-success" data-channel_id="{{ channel.id }}" data-owner="{{ channel.owner }}">
                <strong>{{ channel.name }} </strong>
                <span class="msg_count badge badge-primary badge-pill">{{ channel.messages }}</span>
            </span>
{% endfor %}

        </div>
        <div class="float-right p-2">
            <div id="messages_list" class="overflow-auto">    
                <span><h4 class="text-warning">Hello!<br>For beginning choose a channel at the left column, or create one if there is no channel yet.</h4></span>
            </div>


        </div>
    </div>
</main>



<booter id="boo" class="text-center p-0 m-0">
            <div id="send_message_form" style="position: absolute;">
                <form id="message_form" class="form">
                  <fieldset disabled>
                    <div class="form-row">
                        <div class="col-2">
                            <button id="send_message" class="btn btn-outline-success m-1 w-100" type="submit">Send</button>
                        </div>
                        <div class="col-10">
                            <input id="message_text" class="form-control m-1" type="text" placeholder="Enter your message" autocomplete="off">
                        </div>
                    </div>
                  </fieldset>
                </form>
            </div>

</booter>
    <footer id="foo" class="small text-center text-muted fixed-bottom p-0 m-0">
            ברוך הבא בשם יהוה
    </footer>

<div class="modal" id="registration" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div id ="reg_body" class="modal-content bg-secondary">
      <div class="modal-header">
        <h5 class="modal-title">Loggin in</h5>
      </div>
      <div class="modal-body">
           <p class="text-danger bg-light text-center d-none" id="error_with_db_update">Something went wrong. Try login again.</p>
           <form id="registration_form" novalidate>
            <div class="form-group">
                <label for="label_username" class="text-light">Name</label>
                <input autofocus type="username" class="form-control" id="username" placeholder="Your name" required>
                <div id="username_error" class="invalid-feedback bg-light">
                    Please enter username.
                </div>
                <div id="username_OK" class="valid-feedback bg-light">
                    OK
                </div>
            </div>

            <div class="form-group">
                <label for="label_email" class="text-light">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" required>
                <div id="email_error" class="invalid-feedback bg-light">
                    Please enter an email.
                </div>
                <div id="email_OK" class="valid-feedback bg-light">
                    OK
                </div>
            </div>
          </div>
      <div class="modal-footer">
        <button class="btn btn-outline-light" id="submit" type="submit">Login</button>
      </div>
      </form>
    </div>
  </div>
</div>


<div class="modal" id="email_exists" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-secondary">
      <div class="modal-header">
        <h5 class="modal-title">Email is already in use!</h5>
      </div>
      <div class="modal-body">
        <p class="text-light text-center">Ups!<br>This email <span class="font-weight-bold" id="email_block"></span> is already in use,<br>but with different name - <span class="font-weight-bold" id="name_block1"></span> (not <span class="font-weight-bold" id="new_name_block1"></span>).<br>What to do?</p>
      </div>

        <button type="button" class="btn btn-success" id="log_with_old_btn">Let's login with old name <span class="font-weight-bold" id="name_block2"></span>.</button>
        <button type="button" class="btn btn-secondary" id="log_with_new_btn">Change my name to <span class="font-weight-bold" id="new_name_block2"></span> and login.</button>
        <button type="button" class="btn btn-secondary" id="correct_btn">I whant to correct my input.</button>
    </div>
  </div>
</div>



<div class="modal fade" id="new_channel" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-secondary">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New channel</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Channel name:</label>
            <input type="text" class="form-control" id="channel_name" data-focus placeholder="Channel name">
            <div id="email_error" class="invalid-feedback bg-light">
                    Please enter channel name.
                </div>
                <div id="email_OK" class="valid-feedback bg-light">
                    OK
                </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="create_chn_btn" type="button" class="btn btn-success">Create</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="duplicate" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-secondary">
      <div class="modal-header">
        <h5 class="modal-title">Duplicate name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-light text-center">Channel with name '<span class="font-weight-bold" id="duplicatename">CHANELLNAME</span>' already existss</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn btn-danger" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


  </body>
</html>