{% extends "layout.html" %}

{% block title %}Main page{% endblock %}

{% block main %}

<div class="container-fluid full_h"><!-- Main container -->
 
  <div class="row full_h"> <!-- Main container ROW-->
    
    <div class="col-sm-3 border"> <!-- Channels COL-->
        
        <div class="row p-2 bg-light"> <!-- Channels HEADER-->
            <div class="col-10 ">
                <h5>Channels</h5>
            </div>
            <div class="col-2 p-0 m-0 ">
                <span class="badge badge-info">Add +</span>
            </div>
        </div><!-- Channels HEADER END-->

        <div class="row p-2">
            <div class="col-12 p-2 m-0 border" id="channel">
 
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
                Channel list<br />
            </div>
        </div>
    </div><!-- Channels COL END-->
    

    <div class="col-sm-9 border"> <!-- MESSAGES COL-->

        <div class="row p-2 bg-light">
            <div class="col-12">
                <h5>Channel name</h5>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-12">
                Channel messages
                Channel messages
                Channel messages
                Channel messages
                Channel messages
                Channel messages
            </div>
        </div>
        <div class="row p-2  align-items-end">
            <div class="col-12">
                Sending message
            </div>
        </div>


    </div><!-- MESSAGES COL END-->
  </div><!-- Main container ROW END-->
</div><!-- Main container END-->

{% endblock %}
